body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.error-container {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    max-width: 500px;
    width: 100%;
}

.error-message {
    font-size: 2em;
    margin: 10px 0;
}

.error-description {
    font-size: 1.2em;
    margin: 20px 0;
}

.btn-custom {
    color: #000;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.btn-custom:hover {
    background-color: #f1f1f1;
    color: #000;
    text-decoration: none;
}
