

.card{
    width: 16rem;
}

.sezione{
    padding-top: 5%;
    padding-bottom: 5%;
}

i{
    padding-right: 1px;
}

a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Utilizza il colore ereditato dal contenitore */
}

.logo {
    max-height: 100px; /* Altezza massima del logo */
}

@media (min-width: 992px) {
    .logo {
        max-height: 100px; /* Altezza massima del logo su schermi grandi */
    }
}

.carousel-item img {
    height: 600px; /* Imposta l'altezza desiderata */
    object-fit: cover; /* Copre l'intera area della slide */
  }
  .header {
    height: 600px; /* Stessa altezza delle immagini */
  }

.btn-search:focus {
    border-color: black !important; /* Colore nero */
    box-shadow: none !important; /* Rimuove l'ombra */
}

.immaginecarosel{
    height: 600px;
}